@import '~bootstrap/scss/bootstrap';

@import './partials/root';
@import './partials/header';
@import './partials/jumbotron';
@import './partials/comics-section';
@import './partials/tools';
@import './partials/footer';

.my_container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

.bg-dc {
    background-color: $dc-primary;
}

.color_dc {
    color: $dc-primary !important;
}