header {

    .nav {

        a {
            margin-left: 1rem;
            font-weight: 700;

            border-bottom: 1px solid white;

            &:hover {
                color: $dc-primary;

                border-bottom: 1px solid $dc-primary;
            }

        }
    }


    .searchbar {
        input {
            border: 0;
            border-bottom: 2px solid $dc-primary;
        }

        input::-webkit-input-placeholder {
            text-align: end;
            color: black;
        }

    }

}